version: '3'

services:
  web:
    build:
      context: build/docker
      dockerfile: ./nginx/Dockerfile
    volumes:
      - ./:/app
      - ./build/docker/nginx/config/proxy.conf:/etc/nginx/conf.d/proxy.conf
      - ./build/docker/nginx/config/vhost.conf:/etc/nginx/conf.d/default.conf
      - ./build/docker/nginx/logs:/etc/logs/nginx
    depends_on:
      - app
    ports:
      - 8080:80
    networks:
      - fyre-network

  app:
    container_name: nargiza-backend
    build:
      context: build/docker
      dockerfile: ./php/fpm/Dockerfile
    volumes:
      - ./:/app
      - ./build/docker/php/logs:/var/log
      - ./build/docker/php/config/uploads.ini:/usr/local/etc/php-fpm.d/custom.ini
      - ./build/docker/php/config/uploads.ini:/usr/local/etc/php/conf.d/custom.ini
    depends_on:
      - postgres
    links:
      - postgres
    networks:
      - fyre-network

  postgres:
    image: postgres:10.3
    container_name: nargiza-db
    ports:
      - 5490:5432
#    container_name: nargiza-db
#    ports:
#      - 5490:5432
    volumes:
      - ./../..:/app
      - ./build/docker/postgresql/data:/var/lib/postgresql/data
      - ./build/docker/postgresql/dump:/dump
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: nargiza
      PGPASSWORD: 6dcmMnzyOp
    networks:
      - fyre-network

  composer:
    image: composer
#    command: composer require bjuppa/laravel-blog --ignore-platform-reqs
    command: composer update --ignore-platform-reqs
#    command: composer install --ignore-platform-reqs
    volumes:
      - ./:/app

#  watch:
#    build:
#      context: build/docker
#      dockerfile: ./node/Dockerfile
#    volumes:
#      - ./:/usr/src/app
#      - ./node_modules:/usr/src/app/node_modules
#      - ./build/docker/node/logs:/root/.npm/_logs/
#    command: "npm run watch"
#
#  node:
#    build:
#      context: build/docker
#      dockerfile: ./node/Dockerfile
#    volumes:
#      - ./:/usr/src/app
#      - ./node_modules:/usr/src/app/node_modules
#      - ./build/docker/node/logs:/root/.npm/_logs/
#    command: "tail -f /etc/hosts"
#
#  npm_i:
#    build:
#      context: build/docker
#      dockerfile: ./node/Dockerfile
#    volumes:
#      - ./:/usr/src/app
#      - ./node_modules:/usr/src/app/node_modules
#      - ./build/docker/node/logs:/root/.npm/_logs/
#    command: "npm i"

networks:
  fyre-network:
    driver: bridge